<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
        <!-- jQuery -->
    <script src="lib/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="lib/bootstrap.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-sanitize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    


    <script src="app/app.module.js"></script>
    <script src ="js/core/Configuration.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Coversheet</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    

    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
</head>

    <body ng-app="myModule">
        <div ng-controller="wpfController" ng-init="disableDuration=true">
	
        <!-- Top content -->
		
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
           
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
	
   <div class="top-content">	
            <div class="inner-bg">
                <div class="container">
                	
                    <div class="row">
                        <div class="col-sm-12 text">
                            <h1 style="color: #000;">Customer Churn Prediction Model</h1>                    
                        </div>
                    </div>
                    
                    <div class="row">
                        
                               	
                        <div class="col-sm-8">
                        	   	
<div class="col-sm-12 content-wrap"> 
<div class="form-box">

                        		<div class="form-top">
	                        		<div class="form-top-left">
	                        			<h3>Churn Period</h3>
	                            		
	                           		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-pencil"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom">
				                    <form role="form" action="" method="post" class="registration-form">
						

                        <button type="button" ng-repeat="durationInfo in ChurnModelInfo.Durarion" ng-disabled="disableDuration" class="btn btn-info churnPeriod">{{durationInfo.displayName}}</button>
				                    </form>
			                    </div>
                        	</div>
</div>

                            <div id="churnResult">
                                <span>Total Churn by Customer is : {{churnRate}}</span>
                                <button type="button" ng-click="callNPLResult()">Click to View More Information About Customer</button>
                            </div>
<div class="col-sm-12 content-wrap" ng-show="showgraph">
                <div class="panel panel-default dtTable" id="statisticalData" visible="false">
				
    </div>
<div class="row"><div class="form-box" style="">
                        		<div class="form-top">
	                        		<div class="form-top-left">
	                        			<h3>Churn Prediction Model</h3>
	                            		<p>Predicting Churn Rate per Credit Terms</p>
	                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-pencil"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom">
				                    <form role="form" action="" method="post" class="registration-form">
									<!--<img src="/images/CreditTermsYear2013ChurnRate.png">-->
                                        <img ng-src="{{graphImage}}" />
				                        
				                        
				                    </form>
			                    </div>
                        	</div></div> 
 </div>


                        	
                        </div>

<div class="col-sm-4">
                        	
                        	<div class="row"><div class="form-box">
                        		<div class="form-top">
	                        		<div class="form-top-left">
	                        			<h3>Customers</h3>
	                            
	                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-pencil"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom">
				                    <form role="form" action="" method="post" class="registration-form">
									
																		<div class="todo">
								<ul id="topusers" class="topmatches">
                                    <li class="row customerList" id="allCustomers" ng-click="calculateChurn($event)"><div class="todo-icon col-md-4"><img src="/images/fordmotor.png" width="32" height="32"></div><div class="todo-content col-md-8"><h4 class="todo-name">All Customers</h4></div></li>
                                    <li class="row customerList" id="{{customer.Customer.id}}"ng-repeat="customer in ChurnModelInfo.Customers" ng-click="calculateChurn($event)"><div class="todo-icon col-md-4"><img src="/images/fordmotor.png" width="32" height="32"></div><div class="todo-content col-md-8"><h4 class="todo-name">{{customer.displayName}}</h4></div></li>
								</ul>
							</div>
									
				              
				                        
				                        
				                    </form>
			                    </div>
                        	</div>
</div>

                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
        	
          
           <!--<div class='dtTable'>-->



          




        	
        
        <!-- Footer -->
        <footer>
        	<div class="container">
        		<div class="row">
        			
        			<div class="col-sm-12 footer-border">

        				<p>Copyright</p>
        			</div>
        			
        		</div>
        	</div>
        </footer>



        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->
</div>
    </body>

</html>
