<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="IndependantVariables" value="On Time Delivery,Total Net Revenue" />
    <add key="OutputVariable" value="Churn Rate" />
    <add key="Jan" value="1"/>
    <add key="Feb" value="2"/>
    <add key="Mar" value="3"/>
    <add key="Apr" value="4"/>
    <add key="May" value="5"/>
    <add key="Jun" value="6"/>
    <add key="Jul" value="7"/>
    <add key="Aug" value="8"/>
    <add key="Sep" value="9"/>
    <add key="Oct" value="10"/>
    <add key="Nov" value="11"/>
    <add key="Dec" value="12"/>

    <add key="RuleId1" value="1001,1002"/>
    <add key="RuleId2" value="1007,1011"/>
    <add key="R1" value="R001"/>
    <add key="R2" value="R002"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="PredictiveAnalysisEntities" connectionString="metadata=res://*/PredictiveAnalysisEntities.csdl|res://*/PredictiveAnalysisEntities.ssdl|res://*/PredictiveAnalysisEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=PredictiveAnalysis;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="myConnectionString" connectionString="server=.;database=PredictiveAnalysis;uid=sa;password=gs@123;Integrated Security=true" />-->
    <add name="PredictiveAnalysisEntities" connectionString="metadata=res://*/PredictiveAnalysisEntities.csdl|res://*/PredictiveAnalysisEntities.ssdl|res://*/PredictiveAnalysisEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=PredictiveAnalysis;Integrated Security=true;;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="myConnectionString" connectionString="server=.;database=PredictiveAnalysis;uid=sa;password=gs@123;Integrated Security=true" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>